# macOS junk
.DS_Store
*/.DS_Store
*/**/.DS_Store

# Astro build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Wix cleanup backups
*.bak

# Astro cache
.astro/
