---
import Base from '../layouts/Base.astro';
---

<Base title="Contact">
  <article class="post contact">
    <h1>Contact</h1>

    <p>
      My best contact email is <strong>cvtonder[at]alumni.stanford.edu</strong>.
    </p>

    <p>
      Note: The old emails <strong>cobi@otoplasma.com</strong> and <strong>cobi.vantonder@york.ac.uk</strong> are no longer in use.
    </p>
<p>You can find me or follow my work on the following platforms:</p>
    <ul>
      <li><a href="https://www.instagram.com/cobi.van.tonder/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
      <li><a href="https://www.researchgate.net/profile/Cobi_Van_Tonder2" target="_blank" rel="noopener noreferrer">ResearchGate</a></li>
      <li><a href="https://twitter.com/otoplasma" target="_blank" rel="noopener noreferrer">X</a></li>
      <li><a href="https://york.academia.edu/CobivanTonder" target="_blank" rel="noopener noreferrer">Academia.edu</a></li>
      <li><a href="https://telepathicbeing.bandcamp.com/music" target="_blank" rel="noopener noreferrer">Bandcamp</a></li>
      <li><a href="https://soundcloud.com/otoplasma" target="_blank" rel="noopener noreferrer">SoundCloud</a></li>
    </ul>
    <p>
      Scores are available on request via email.
    </p>

    <p>
      Also, check out the <a href="https://acousticatlas.de" target="_blank" rel="noopener noreferrer">Acoustic Atlas</a> for a unique listening experience.
    </p>
  </article>
</Base>
